body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,body{
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
 }
 header{
  display: flex;
  justify-content: space-around;
  align-items: center;
 }
 .Header-links-ul{
  width: 60%;
  list-style: none;
  display: flex;
  justify-content: space-around;
 }
 .header-link{
  padding: 0.4rem;
  border-radius: 2px;
  cursor: pointer;
 }
 .header-link:hover{
  border-bottom: 1px solid white;
 }
 main{
  padding: 2rem;
  font-size: 1rem;
 }
 .title {
  font-size: 3rem;
 }
